@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Zen+Kaku+Gothic+Antique:wght@400&display=swap');

html {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: #F39B68;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #FCD9F8;
  max-width: 600px;
}

h1,h2,h3,h4,h5,h6 {
    color: #F39B68;
    background-color:#232020;
    font-family: "Racing Sans One", cursive;
    box-sizing: border-box;
}
  
h1 {
  font-size: 35px;
  font-weight:700;
  padding: 5px 10px 5px 10px;
}

h2 {
  font-size: 30px;
  font-weight:700;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  letter-spacing: 3px
}
  
  h3{
  font-size: 64px;
  font-weight:700;
  padding: 10px 10px 10px 10px;
}
  
h4 {
  font-size: 56px;
  font-weight:700;
  padding: 10px 10px 10px 10px;
}
  
h5 {
  font-size: 48px;
  font-weight:700;
  padding: 10px 10px 10px 10px;
}

  h6 {
  font-size: 36px;
  font-weight:700;
  padding: 10px 10px 10px 10px;
}


header {
  background-color: #FCD9F8 ;
  font-family: "Racing Sans One", sans-serif;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}  
  
main {
  background-color: #AF371D;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: black;
  position: relative;
  color: white;
  padding: 0.75em;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}
footer a {
  color: white;
  text-decoration: underline red;
  transition: color 0.5s, text-shadow 0.5s;
}
footer a:hover {
  color: white;
  text-shadow: 1px 1px 10px red;
}
#updated {
  color: red;
  font-size: 12px;
}

.footer1 {
  display: none;
}
.footer2 {
  display: inline;
}

img {
    width: 50%;
    box-sizing: border-box;
}   

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover{ 
color: red ;
background-color: black;
padding: 1em;
}

a {
  color: white;
  grid-column: 1/6;
}

.home-headline {
    grid-column: 3/6;
    grid-row: 1;
} 

.Profile {
  grid-column: 1/2;
  grid-row: 1;
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  box-sizing: border-box;
  width: 60%;
}



  
