@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Zen+Kaku+Gothic+Antique:wght@400&display=swap');

:root {
    --main-color: #AF371D;
    --secondary-color: #F39B68;
    --accent-color: #808080;
    --default-light: white;
    --default-dark: #232020;

    --header-font: "Racing Sans One", sans-serif;
    --paragraph-font: "Zen Kaku Gothic Antique", sans-serif;
}

html { background-color: var(--secondary-color); }
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}
body > * {
    grid-column: 2;
}
.blocker-1, .blocker-2 {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 24;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 5;
}
.blocker-2 {
    grid-column: 3;
}

h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
}
h1, h2, h3, h4, th {
    font-family: var(--header-font);
}
p, span, div, li, a, figcaption {
    font-family: var(--paragraph-font);
}

header {
    z-index: 10;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    text-shadow: 1px 1px 1px var(--default-dark);
    grid-template-columns: 1fr;
    display: grid;
}
header > div {
    display: block;
    
}
header > div > img {
    /* display: block; */
    grid-column: 1;
    grid-row: span 2;
    justify-self: end;
}
header> div > span {
    display: block;
    color: var(--default-light);
    padding-bottom: 1rem;
    justify-self: start;
    grid-column: 2;
    /* padding-left: 10px;
    margin-left: 80px; */
}
h1 {
    grid-column: 2;
    justify-self: start;
    color: var(--default-light);
    margin-top: 0.75rem;
    margin-bottom: 0;
}
nav {
    position: sticky;
    z-index: 5;
    top: 0;
}
nav > ul {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 0 0 10px var(--default-dark);
}
nav > ul .toggler {
    display: none;
}
nav > ul .toggler + li {
    grid-column: 1;
}
nav a {
    z-index: 8;
    display: block;
    margin-right: 0;
    overflow: hidden;
    font-size: 0.9em;
    width: calc(100%);
    font-weight: bolder;
    line-height: 0.9em;
    text-align: center;
    position: relative;
    text-decoration: none;
    height: calc(100% - 2em);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    transition: padding 0.2s, height 0.2s;
    color: var(--default-light);
    padding: 1.3em 0 0.7em;
    transition: all 0.2s;
    height: 18px;
}
nav a:hover {
    text-shadow: none;
    background-color: var(--default-light);
    box-shadow: 0 0 10px var(--default-light),
                inset 0 0 10px var(--main-color);
    color: var(--main-color);
    z-index: 7;
}
nav a.at, nav a:active {
    background-color: var(--main-color);
    text-shadow: 1px 1px var(--default-dark);
    box-shadow: 0 0 10px var(--main-color);
    color: var(--default-light);
    z-index: 9 !important;
    transition: none;
}
nav:active a.at:not(:active) {
    background-color: var(--default-dark);
    box-shadow: 0 0 10px var(--default-dark);
    color: var(--default-light);
    z-index: 8 !important;
}

main {
    padding: 1px 1em;
    background-color: var(--default-light);
}
h2 {
    color: var(--main-color);
}
h3, h4 {
    color: var(--default-dark);
}
section {
    padding: 0 1em;
}
div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px var(--default-dark);
    margin-bottom: 20px;
    font-style: italic;
}

section.contact-info {
    position: relative;
    left: -1rem;
    width: 100%;
    padding: 1rem;
    display: grid;
    background-color: var(--default-dark);
    grid-template-columns: 50% auto;
    box-shadow: 0 0 10px var(--default-dark);
}
section.contact-info iframe {
    grid-row: span 3;
    grid-column: 1;
    height: 200px;
    width: 90%;
    border: 0;
}
section.contact-info h3, section.contact-info ul {
    margin-top: 0;
    text-align: left;
    color: var(--default-light);
}
section.contact-info ul {
    margin-bottom: 0;
}
section.contact-info li {
    padding-top: 3px;
}
section.contact-info li i {
    transition: transform 0.2s, color 0.4s;
}
section.contact-info li:hover i {
    color: var(--main-color);
    transform: scale(1.5);
}
div.social-links {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,50px);
    justify-items: center;
    /* align-items: flex-start; */
    /* padding-left: 35px; */
    /* text-align: right; */
    justify-content: center;
    margin-bottom: 2%;
}
div.social-links a {
    width: 33px;
    height: 33px;
    border-radius: 7px;
    overflow: hidden;
}

.social-links img {
    width: 100%;
}
div.social-links a i {
    line-height: 35px;
}
div.social-links a:hover {
    background: white;
}
div.social-links a:hover .instagram {
    cursor: pointer;
    color: tomato;
}
div.social-links a:hover .facebook {
    cursor: pointer;
    color: royalblue;
}
div.social-links a:hover .youtube {
    cursor: pointer;
    background: linear-gradient(90deg, red, deeppink);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 100px;
    margin: 15px;
}

section.quick-links {
    margin: 0 auto 40px;
    grid-template-columns: 1fr 1fr;
    border: solid 1px var(--default-dark);
    padding-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    width: 85%;
}
section.quick-links > h2 {
    grid-column: 1 / -1;
    font-size: 2.4rem;
    margin-bottom: 0.25rem;
}
section.quick-links > span {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}
section.quick-links section {
    margin: 0.5rem;
    padding: 0.2rem;
    padding-bottom: 1rem;
    background-color: #eeeeee;
    transform: scale(0.95);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--default-dark);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}
section.quick-links section:hover {
    box-shadow: 0 0 5px var(--default-dark);
    background-color: #dddddd;
    transform: scale(1);
    cursor: pointer;
}
section.quick-links h3 {
    margin-bottom: 0.25rem;
}
section.quick-links span {
    font-size: 0.85rem;
}

footer {
    background-color: black;
    position: relative;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
  }
  footer a {
    color: white;
    text-decoration: underline red;
    transition: color 0.5s, text-shadow 0.5s;
  }
  footer a:hover {
    color: white;
    text-shadow: 1px 1px 10px red;
  }
  #updated {
    color: yellow;
    font-size: 12px;
  }
  
  .footer1 {
    display: none;
  }
  .footer2 {
    display: inline;
  }

  .footerImage{
      width: 50px;
      float: left;
      margin-left: 50px;
      
  }

 .number_visits {
    color: var(--default-light);
    padding: 1rem;
    border: dashed 1px var(--default-dark);
    font-style: italic;
    margin-bottom: 2%;
    background-color: var(--default-dark);
    /* grid-column: 1/3;
    grid-row: 8;
    justify-self: stretch;
    text-align: center; */
  }


#headerDate {
    /* margin-left: 115px; */
    color: var(--default-light);
    padding: 1rem;
    border: dashed 1px var(--default-dark);
    font-style: italic;
    margin-bottom: 2%;
}

#banner {
    margin-left: 10px;
    color: var(--default-light);
    padding: 1rem;
    background-color: black;
    border: dashed 1px var(--default-dark);
    /* margin-bottom: 20px; */
    font-style: italic;
}

/* div.hero {
    z-index: 1;
    position: relative;
    /* background-image: url("./../images/hero-image.jpg"); */
    /* background-size: cover;
    background-position: left bottom;
    overflow: hidden;
    height: 250px;
}  */

div.hero6 {
    z-index: 1;
    position: relative;
    overflow: hidden;
}
div.hero6 picture, div.hero6 picture img {
    width: 100%;
}

div.hero section {
    top: 20px;
    left: 20px;
    width: 200px;
    height: 180px;
    position: absolute;
    background: rgba(255,255,255,0.7);
    background-image: linear-gradient(-160deg, rgba(255,255,255,0.7) 50%, rgba(100,100,100,0.7));
    animation: come-in 2s ease-in-out;
    transition: top 0.3s;
}
div.hero section h3 {
    margin-top: 0.5rem;
}

div.hero.homepage {
    margin-top: -1px;
    background-image: url("./../images/hero-image.jpg");
}

#topics {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 30px auto 20px; */
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#topics > div {
    /* width: calc(90% - 1em); */
    margin: 30px auto;
    text-align: center;
    box-shadow: 3px 3px 10px var(--default-dark);
    border-radius: 10px;
    padding: 1em;
    max-width: 250px;
}
#topics > div img {
    max-width: 100%;
    border-radius: 10px;
}
#topics > div h2 {
    margin: 0;
    margin-top: 0.5em;
    letter-spacing: 2px;
}
#topics > div span {
    font-size: small;
}

@media screen and (min-width: 851px) and (max-width: 1111px) {
    #topics {
        grid-template-columns: 1fr 1fr;
    }
    #topics > div {
        margin: 0 auto;
    }
    #topics > div:nth-child(3) {
        grid-template-columns: auto calc(214px + 2em);
        justify-items: center;
        align-items: center;
        grid-column: span 2;
        max-width: 600px;
        display: grid;
    }
    #topics > div:nth-child(3) h2 {
        margin-top: 0;
    }
    #topics > div:nth-child(3) img {
        width: 100%;
        height: 100%;
        max-width: 325px;
        object-fit: cover;
        object-position: center;
    }
}

main.discover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-bottom: 30px;
}
main.discover h2 {
    margin-top: 1.25em;
    grid-column: 1 / -1;
}
main.discover picture {
    transform: scale(0);
    max-width: 300px;
    box-shadow: 1px 1px 3px var(--default-dark), inset 0 0 3px var(--default-dark);
    padding: 0.5em;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
main.discover picture.in {
    animation: img-come-in 1s;
    transform: scale(1);
}
main.discover picture:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 12px var(--default-dark), inset 0 0 3px var(--default-dark);
}
main.discover picture img {
    display: block;
    border-radius: 10px;
}
main.discover picture figcaption {
    padding: 0.5em;
    text-align: center;
}

main.discover.refs {
    padding: 0 calc(100% - 1000px) 30px;
}

main.discover > a {
    grid-column: 1 / -1;
}

@keyframes come-in {
    from {
        opacity: 0;
        filter: blur(2px);
    }
    50% {
        opacity: 0;
        filter: blur(2px);
    }
    to {
        opacity: 1;
    }
}
@keyframes img-come-in {
    from {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (max-width: 1280px) {
    main.discover {
        grid-template-columns: 1fr 1fr;
    }
    main.discover picture:last-child {
        grid-column: span 2;
    }
}
