@media screen and (min-width: 600px) {
body {
    grid-template-columns: auto 90% auto;
}

.grid-mode {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 1rem;
    justify-content: center;
}

.directory-card {
    flex-direction: row-reverse;
    display: block;
}
}

#spotlights {
    grid-row: 3;
    grid-column: span 6;
}

#spotlights section {
    grid-column: span 3;
}