@media screen and (min-width: 600px) {
body {
    grid-template-columns: auto 90% auto;
}

.grid-mode {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}

.directory-card {
    flex-direction: row-reverse;
}
}